<title>
    وبلاگ | مرسانا
</title>

{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block header %}
{% include 'partials/header2.html' %}
{% endblock %}
{% block content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('static/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">سایزهای مختلف 2 ستونه<span>اخبار</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index-1.html">خانه</a></li>
                <li class="breadcrumb-item"><a href="#">اخبار</a></li>
                <li class="breadcrumb-item active" aria-current="page">سایزهای مختلف 2 ستونه</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <nav class="blog-nav">
                <ul class="menu-cat entry-filter justify-content-center">
                    <li class="active"><a href="#" data-filter="*">همه اخبار<span>6</span></a></li>
                    <li><a href="#" data-filter=".lifestyle">سبک زندگی<span>3</span></a></li>
                    <li><a href="#" data-filter=".shopping">فروشگاه<span>1</span></a></li>
                    <li><a href="#" data-filter=".fashion">مد<span>1</span></a></li>
                    <li><a href="#" data-filter=".travel">سفر<span>2</span></a></li>
                    <li><a href="#" data-filter=".hobbies">سرگرمی<span>2</span></a></li>
                </ul><!-- End .blog-menu -->
            </nav><!-- End .blog-nav -->

            <div class="entry-container max-col-2">
                <div class="entry-item lifestyle shopping col-sm-6">
                    <article class="entry entry-grid text-center">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="{% static 'images/blog/masonry/2cols/post-1.jpg' %}" alt="توضیحات عکس">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <span class="entry-author">
                                    نویسنده : <a href="#">مدیر سایت</a>
                                </span>
                                <span class="meta-separator">|</span>
                                <a href="#">22 اسفند 1401</a>
                                <span class="meta-separator">|</span>
                                <a href="#">2 دیدگاه</a>
                            </div><!-- End .entry-meta -->

                            <h2 class="entry-title text-center">
                                <a href="single.html">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                            </h2><!-- End .entry-title -->

                            <div class="entry-cats text-center">
                                <a href="#">سبک زندگی</a>،
                                <a href="#">فروشگاه</a>
                            </div><!-- End .entry-cats -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->
                </div><!-- End .entry-item -->

                <div class="entry-item lifestyle col-sm-6">
                    <article class="entry entry-grid text-center">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="{% static 'images/blog/masonry/2cols/post-2.jpg' %}" alt="توضیحات عکس">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <span class="entry-author">
                                    نویسنده : <a href="#">مدیر سایت</a>
                                </span>
                                <span class="meta-separator">|</span>
                                <a href="#">21 اسفند 1401</a>
                                <span class="meta-separator">|</span>
                                <a href="#">0 دیدگاه</a>
                            </div><!-- End .entry-meta -->

                            <h2 class="entry-title text-center">
                                <a href="single.html">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                            </h2><!-- End .entry-title -->

                            <div class="entry-cats text-center">
                                <a href="#">سبک زندگی</a>
                            </div><!-- End .entry-cats -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->
                </div><!-- End .entry-item -->

                <div class="entry-item lifestyle fashion col-sm-6">
                    <article class="entry entry-grid text-center">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="{% static 'images/blog/masonry/2cols/post-3.jpg' %}" alt="توضیحات عکس">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <span class="entry-author">
                                    نویسنده : <a href="#">مدیر سایت</a>
                                </span>
                                <span class="meta-separator">|</span>
                                <a href="#">18 اسفند 1401</a>
                                <span class="meta-separator">|</span>
                                <a href="#">3 دیدگاه</a>
                            </div><!-- End .entry-meta -->

                            <h2 class="entry-title text-center">
                                <a href="single.html">لورم ایپسوم متن ساختگی</a>
                            </h2><!-- End .entry-title -->

                            <div class="entry-cats text-center">
                                <a href="#">مد</a>،
                                <a href="#">سبک زندگی</a>
                            </div><!-- End .entry-cats -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->
                </div><!-- End .entry-item -->

                <div class="entry-item travel col-sm-6">
                    <article class="entry entry-grid text-center">
                        <figure class="entry-media">
                            <div class="owl-carousel owl-simple owl-light owl-nav-inside" data-toggle="owl"
                                data-owl-options='{"rtl": true}'>
                                <a href="single.html">
                                    <img src="{% static 'images/blog/masonry/2cols/post-4.jpg' %}" alt="توضیحات عکس">
                                </a>
                                <a href="single.html">
                                    <img src="{% static 'images/blog/masonry/2cols/post-4-2.jpg' %}" alt="توضیحات عکس">
                                </a>
                            </div><!-- End .owl-carousel -->
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <span class="entry-author">
                                    نویسنده : <a href="#">مدیر سایت</a>
                                </span>
                                <span class="meta-separator">|</span>
                                <a href="#">15 اسفند 1401</a>
                                <span class="meta-separator">|</span>
                                <a href="#">4 دیدگاه</a>
                            </div><!-- End .entry-meta -->

                            <h2 class="entry-title text-center">
                                <a href="single.html">لورم ایپسوم متن ساختگی.</a>
                            </h2><!-- End .entry-title -->

                            <div class="entry-cats text-center">
                                <a href="#">سفر</a>
                            </div><!-- End .entry-cats -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->
                </div><!-- End .entry-item -->

                <div class="entry-item travel hobbies col-sm-6">
                    <article class="entry entry-grid text-center">
                        <figure class="entry-media">
                            <a href="single.html">
                                <img src="{% static 'images/blog/masonry/2cols/post-5.jpg' %}" alt="توضیحات عکس">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <span class="entry-author">
                                    نویسنده : <a href="#">مدیر سایت</a>
                                </span>
                                <span class="meta-separator">|</span>
                                <a href="#">11 اسفند 1401</a>
                                <span class="meta-separator">|</span>
                                <a href="#">2 دیدگاه</a>
                            </div><!-- End .entry-meta -->

                            <h2 class="entry-title text-center">
                                <a href="single.html">لورم ایپسوم متن ساختگی</a>
                            </h2><!-- End .entry-title -->

                            <div class="entry-cats text-center">
                                <a href="#">سفر</a>،
                                <a href="#">سرگرمی</a>
                            </div><!-- End .entry-cats -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->
                </div><!-- End .entry-item -->

                <div class="entry-item hobbies col-sm-6">
                    <article class="entry entry-grid text-center">
                        <figure class="entry-media entry-video">
                            <a href="single.html">
                                <img src="{% static 'images/blog/masonry/2cols/post-6.jpg' %}" alt="توضیحات عکس">
                            </a>
                        </figure><!-- End .entry-media -->

                        <div class="entry-body">
                            <div class="entry-meta">
                                <span class="entry-author">
                                    نویسنده : <a href="#">مدیر سایت</a>
                                </span>
                                <span class="meta-separator">|</span>
                                <a href="#">10 اسفند 1401</a>
                                <span class="meta-separator">|</span>
                                <a href="#">4 دیدگاه</a>
                            </div><!-- End .entry-meta -->

                            <h2 class="entry-title text-center">
                                <a href="single.html">لورم ایپسوم متن ساختگی با تولید سادگی</a>
                            </h2><!-- End .entry-title -->

                            <div class="entry-cats text-center">
                                <a href="#">سرگرمی</a>
                            </div><!-- End .entry-cats -->
                        </div><!-- End .entry-body -->
                    </article><!-- End .entry -->
                </div><!-- End .entry-item -->
            </div><!-- End .entry-container -->

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                            aria-disabled="true">
                            <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>قبلی
                        </a>
                    </li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item">
                        <a class="page-link page-link-next" href="#" aria-label="Next">
                            بعدی<span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>
                        </a>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="فیسبوک"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="توییتر"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="اینستاگرام"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="یوتیوب"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">ورود</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">ثبت نام</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">نام کاربری یا آدرس ایمیل *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">رمز عبور *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>ورود</span>
                                                <i class="icon-long-arrow-left"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">مرا به خاطر
                                                    بسپار</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">فراموشی رمز عبور؟</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">یا ورود با</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    حساب گوگل
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    حساب فیسبوک
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">آدرس ایمیل شما *</label>
                                            <input type="email" class="form-control" id="register-email"
                                                name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">رمز عبور *</label>
                                            <input type="password" class="form-control" id="register-password"
                                                name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>ثبت نام</span>
                                                <i class="icon-long-arrow-left"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy"
                                                    required>
                                                <label class="custom-control-label" for="register-policy">با
                                                    <a href="#">قوانین و مقررات </a>موافقم *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">یا عضویت با</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    حساب گوگل
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    حساب فیسبوک
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->
</main><!-- End .main -->
{% endblock %}
{% block footer %}
{% include 'partials/footer.html' %}
{% endblock %}